button {
    outline: none;
    &:focus {
        outline: none;
    }
}

.text-vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}

// Active Form Options
.active-option {
    @apply bg-indigo-600;
    @apply text-white;
}

// Daily Text Links
.daily-text {
    a {
        @apply text-indigo-600;
    }
}

#grid-territory-editor-phone {
    .row {
        grid-template-columns: 1fr 70px 40px 103px 50px 40px;
        grid-column-gap: 5px;
    }
}

#grid-territory-editor-field {
    .row {
        grid-template-columns: 30px 110px 80px 50px 1fr 32px;
        grid-column-gap: 5px;
    }
}

#grid-territory-editor-field,
#grid-territory-editor-phone,
#grid-territory-editor-business {
    .row input[type="text"],
    .row input[type="number"],
    .row select {
        background-color: transparent;
        border-radius: 0;
        border-width: 0;
        border-color: unset;
        width: 100%;
        @apply px-2;
        @apply py-4;
        @apply text-xxs;
        @apply font-bold;
    }
}
