button {
    outline: none;
    &:focus {
        outline: none;
    }
}

.text-vertical {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}

// Active Form Options
.active-option {
    @apply bg-indigo-600;
    @apply text-white;
}

// Daily Text Links
.daily-text {
    a {
        @apply text-indigo-600;
    }
}

#grid-territory-editor-phone {
    .row {
        grid-template-columns: 1fr 60px 40px 90px 25px 50px;
        grid-column-gap: 5px;
    }
}
